---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

import { Image } from "astro:assets";
import error from "../images/error-404.png";
---

<Layout title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-items-center gap-7">
    <Image src={error} alt="404" height={250} width={250} class="mt-10 mb-10" />

    <!-- Style this link -->
    <Button text={"Go Home"} href={"/"} class:list={[""]} />
  </div>
</Layout>
