---
import Layout from '../layouts/Layout.astro'

const title = 'Health, Safety, Environmental & Quality'
const description = 'We are industry leaders in these areas.'
---

<Layout title={title}>
  <!-- <h2 class="pb-8 text-3xl font-bold tracking-tight text-blue-600 sm:text-3xl">
    About Us
  </h2> -->
  <main>
    <section class="bg-stone-100 dark:bg-slate-800">
      <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
        <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
          <h2
            class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
          >
            {title}
          </h2>
          <p
            class="font-light text-gray-500 dark:text-gray-400 sm:text-xl lg:mb-16"
          >
            {description}
          </p>
        </div>
        <p class="mb-4 mt-3 pb-8 font-light text-gray-500 dark:text-gray-400">
          Health and Safety is our top priority and has been addressed through
          Denis’s PSCS certification and MSIC qualifications, and the use of
          external Consultants. <br />A full suite of Health and Safety
          documentation, including Safety Statement & Policy and required Risk
          Assessments and Method Statements, is prepared in advance of the
          commencement of all projects with all sites independently audited on a
          weekly basis. <br />A project specific quality plan is prepared in
          advance of each project taking into account all aspects of the works
          requirements, the Clients needs and our BC(A)R obligations. <br />A
          site-specific environmental plan is prepared for each project,
          ensuring to consider all local authority requirements and aspects of
          the works requirements. <br />Only sub-contractors with a proven track
          record in achieving programme while ensuring compliance with all
          safety and quality requirements as outlined in the contract documents
          are engaged in any project.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style></style>
