---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Mission Statement">
  <h2 class="pb-8 text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">
    Mission Statement
  </h2>

  <p class="mb-4 mt-3 pb-8 font-light text-gray-500 dark:text-gray-400">
    At LMA Contruction, we seek to partner with our Clients with the joint goal
    of avoiding disruption to the programme while building a strong rapport of
    trust to ensure the customer journey is seamless and positive. It is our
    intention to work with each of our Clients on a repeat basis. This can only
    be achieved through delivering every time, using the right resources
    supported by the right company processes.
  </p>
</Layout>
