---
import Button from '../components/Button.astro'
import ButtonSubmit from './ButtonSubmit.astro'

const siteKey = '0x4AAAAAAAhrUcfkOZ34u-nd'
---

<form action="https://formspree.io/f/xyzgklzo" method="POST">
  <div class="mb-6">
    <label
      for="email"
      class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >Your email</label
    >
    <input
      type="email"
      id="email"
      name="email"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      placeholder="name@email.com"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="message"
      class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >Your Message</label
    >
    <input
      type="text"
      id="message"
      name="message"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      required
    />
  </div>
  <div
    id="cf-turnstile"
    class="cf-turnstile"
    data-sitekey={siteKey}
    data-theme="light"
  >
  </div>
  <!-- <Button text="Submit" href="" /> -->
  <ButtonSubmit text="Submit" />
</form>

<script>
  document.addEventListener('astro:page-load', () => {
    // This runs on first page load and after every navigation.
    turnstile.render('#cf-turnstile', {
      sitekey: '0x4AAAAAAAhrUcfkOZ34u-nd',
      callback: function (token) {
        //console.log(`Challenge Success ${token}`)
      },
    })
  })
</script>
